$defaultColor: #1698d9;
$defaultHoverColor: #2ea8e6;
$selectedColor: #d91667;
$selectedHoverColor: #e62e7a;
$disabledColor: #b3b3b3;

.product-card-wrap {
    margin: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    margin-bottom: 5px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;    
    padding: 25px 50px;
    width: 320px;
    height: 480px;
    color: #000000;
    font-family: 'TrebuchetMS', sans-serif;    
    border: 4px solid $defaultColor;
    border-radius: 10px;    
    background: #fff url('../../assets/images/cat.png') 45% 205px no-repeat;
    background-size: 370px;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 20px;
        width: 100px;
        height: 4px;
        transform: rotate(-45deg);
    }

    &.default {
        border-color: $defaultColor;
        &::before {
            background-color: $defaultColor;
        }
        .product__volume-item {
            background-color: $defaultColor;
        }
    }
    &.default.hover {
        border-color: $defaultHoverColor;

        &::before {
            background-color: $defaultHoverColor;
        }
        & .product__volume-item {
            background-color: $defaultHoverColor;
        }
        & + .product__footer-text a {
            color: $defaultHoverColor;
        }
    }
    &.selected {
        border-color: $selectedColor;

        &::before {
            background-color: $selectedColor;
        }
        & .product__volume-item {
            background-color: $selectedColor;
        }
    }
    &.selected.hover {
        border-color: $selectedHoverColor;

        &::before {
            background-color: $selectedHoverColor;
        }
        & .product__head-text {
            color: $selectedHoverColor;
        }

        & .product__volume-item {
            background-color: $selectedHoverColor;
        }
    }
    &.disabled {
        cursor: unset;
        border-color: $disabledColor;
        color: $disabledColor;

        &::before {
            background-color: $disabledColor;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $disabledColor, $alpha: 0.3);
            z-index: 2;
        }
        & .product__volume-item {
            background-color: $disabledColor;
        }
        & + .product__footer-text {
            color: #d1d152;
        }
    }
}

.product__head-text {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.product__title {
    font-weight: bold;
    font-size: 48px;
}

.product__sub-title {
    font-weight: bold;
    font-size: 24px;
}

.product__description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    font-weight: 200;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product__volume-item {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #1698d9;
    
    & .product__volume-item-value {
        font-size: 42px;
        line-height: 38px;
        z-index: 3;
    }
    & .product__volume-item-value-desc {
        font-size: 21px;
        line-height: 14px;
        z-index: 3;
    }
}

.product__footer-text {
    color: #fff;
    font-size: 13px;

    &_link {
        text-decoration: underline;
        text-decoration-style: dashed;
        color: $defaultColor;
        cursor: pointer;
    }
}


@media screen and (max-width: 1199px) {
    .product-card-wrap:first-child {
        flex: 1 100%;
        
    }
}