.main-screen {
    font-size: 24px;
    background: url('../../assets/images/main_background.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }    
}

