@font-face {
  font-family: 'TrebuchetMS';
  src: url('./assets/fonts/trebuchetMS.ttf');
}
@font-face {
  font-family: 'TrebuchetMS';
  src: url('./assets/fonts/trebuchetMS-bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Exo";
  src: url('./assets/fonts/Exo2.0-Thin.otf');
  
}

